@counter-style thumbs {
    system: cyclic;
    symbols: "\1F44D";
    suffix: " ";
}

h1{
    font:Impact;
}

p{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

ul{
    list-style: space-counter;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
