/* @counter-style thumbs {
    system: cyclic;
    symbols: "\1F44D";
    suffix: " ";
} */

h1{
    font: 48px Impact;
}

p{
    font: italic common-ligatures small-caps bold 48px "Verdana, Arial, Helvetica, sans-serif New Roman";
    text-decoration: solid underline purple 4px;
}

ul{
    list-style: space-counter;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
