ul {
    list-style: none;
    width: 360px;
    display: flex;
    flex-wrap: wrap;

}

li {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 95px;    
  	font-family: sans-serif;
    background-color: rgb(171, 217, 229);
    border: 5px solid white;
    padding-top: 7px;
}

/* Karl's code: */

/* ul{
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

li {
  width: 90px;
  height: 90px;
  font-size: 80px;
  font-family: sans-serif;
  background-color: lightblue;
  margin: 5px;
  list-style: none;
  text-align: center;
} */

/* Kelly's code:

ul{
  width: 300px;
  height: 300px;
}

li {
  width: 90px;
  height: 90px;
  margin: 5px;
  float: left;
  list-style: none;
  font-size: 80px;
  font-family: sans-serif;
  text-align: center;
  background-color: lightblue;
} */