ul {
    list-style: none;
    width: 360px;
    display: flex;
    flex-wrap: wrap;

}

li {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 85px;
    font-weight: bold;
    font-family: sans-serif;
    background-color: rgb(171, 217, 229);
    border: 5px solid white;
}